# Ignore build output and temp files
target/
out/
bin/
.project/
.settings/
.classpath/
.gradle/
# in gradle 8.14 "build" is currently hardcoded for the problem-reports
build/

site/

# Ignore Intellij files
*.iml
.idea

# Ignore Macintosh Desktop Service Stores
.DS_Store

# Ignore log file
*.log
