# Ignore build output and temp files
target/
out/
bin/
.project/
.settings/
.classpath/
.gradle/

# Ignore Intellij files
*.iml
.idea

# Ignore Macintosh Desktop Service Stores
.DS_Store

# Ignore log file
*.log
