# LF line endings

# hidden files
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# root-level files
*.gradle text eol=lf
*.properties text eol=lf

# sources
*.java text eol=lf
*.mc4 text eol=lf
*.md text eol=lf
